.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.project-img {
    width: clamp(1rem, 15vw, 5rem);
    aspect-ratio: 1/1;
}

@media(hover: hover) {

    .project-img {
        filter: grayscale(100%) contrast(200%);
        transition: filter 500ms ease-out;
    }

    .project-img:hover,
    .some_img:focus-within {
        filter: grayscale(0%) contrast(100%);
        cursor: pointer;
    }
}