.footer-container {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary);
}
.footer-nav >a > img {
    width: clamp(20px, 5vw, 50px);
    aspect-ratio: 1/1;
    margin-left: .5rem;
}
.footer-nav >a > img:hover {
    transform: scale(1.1);
}
.footer-container p {
    color: var(--secondary);
}